.introduction {
  display: flex;
  font-weight: 700;

  justify-content: space-between;
  padding-bottom: 100px;
  margin-bottom: 50px;
  background-color: rgb(246, 246, 246);
}

.introduction__info {
  --background-color: red;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 50px;
}

h1 {
  font-size: 64px;
  margin: 20px 0;
}

h2 {
  font-size: 38px;
  margin: 10px 0;
}

.info__button {
  background-color: blue;
  display: flex;
  padding: 25px 20px;
  margin: 25px 0;
  width: 250px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  color: white;
}

.info__button:hover {
  cursor: pointer;
}

.introduction__image {
  display: flex;
  width: 50%;
  margin-top: 80px;
  justify-content: center;
}

.introduction__image img {
  margin: 0 25px;
  width: min(640px, 90%);
  height: min(100%, 490px);
}

@media screen and (max-width: 927px) {
  .introduction {
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }
  .introduction__info {
    width: 75%;
  }
  .introduction__image {
    width: 75%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }
  .introduction__image img {
    margin: 0 25px;
    width: 100%;
    height: 75%;
  }
}
@media screen and (max-width: 629px) {
  .introduction__info {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .introduction h1 {
  }
  .introduction__image {
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  .introduction__image {
    width: 100%;
  }
  .introduction__info h1 {
    font-size: 42px;
  }
  .introduction__info h2 {
    font-size: 32px;
  }
}
